@import 'variables';

.container {
    display: flex;
    width: 90%;
    margin: 100px 40px;
    justify-content: center;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex-direction: column;
}

.section {
    h1 {
        font-size: 64px;
        margin-bottom: 15px;
    }

    p {
        font-size: 27px;
        white-space: pre-line;
        margin-bottom: 30px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;

        input {
            height: 50px;
            margin-bottom: 15px;
            text-align: center;
            font-size: 30px;
        }

        button {
            height: 50px;
        }
    }
}
