@import 'variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: $primaryColor;
    color: $secondaryColor;
    font-family: sans-serif;
    overflow-x: hidden;

    @media screen and (max-width: 1024px) {
        overflow: visible;
    }
}

.light-theme {
    background-color: $secondaryColor;
    color: $primaryColor;
}

.dark-theme {
    background-color: $primaryColor;
    color: $secondaryColor;
}

.wholeNav {
    width: 90%;
    height: 90px;
    display: flex;
    margin: 10px 40px;
    justify-content: center;
}
