@import 'variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: $primaryColor;
    color: $secondaryColor;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;

    @media screen and (max-width: 1024px) {
        overflow: visible;
        overflow-x: hidden;
    }
}

#main {
    width: 100vw;
    height: 100%;
}

.light-theme {
    background-color: $secondaryColor;
    color: $primaryColor;

    .wholeNav {
        color: $primaryColor;
    }

    .right {
        color: $darkgreen;
    }

    input {
        background-color: $primaryColor;
        color: $secondaryColor;
    }

    .section {
        .inputs {
            input {
                &::placeholder {
                    color: $secondaryColor;
                }
            }
        }
    }

    .desktopNav {
        .link {
            color: $primaryColor;
            transition: color 1s ease-in-out;

            &:hover {
                color: $green;
            }
        }
    }
}

.dark-theme {
    background-color: $primaryColor;
    color: $secondaryColor;

    .right {
        color: $darkgreen;
    }
}

.wholeNav {
    width: 90%;
    height: 90px;
    display: flex;
    margin: 0 40px 10px 40px;
    justify-content: center;
}
